<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Generate a new report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @report do |f| %>
          <%= f.input :ngo_id, as: :hidden, input_html: { value: params[:id] } %>
          <%= f.input :category, collection: (Report::REP_CAT) %>
          <%= f.input :content, input_html: { minlength: 140 } %>
          <%= f.input :phone_number %>
          <%= f.submit 'Create report', id: 'reportSubmit', disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
