<div class="container my-5">
  <div class="row mt-5">
    <div class="col-3 px-4">
      <%= simple_form_for :publication, url: publications_path, method: :get do |f| %>
      <% if params[:search] %>
        <%= f.input :search, as: :hidden, input_html: { value: params[:search]}%>
      <% else %>
        <%= f.input :search, as: :hidden, input_html: { value: params[:publication][:search]}%>
      <% end %>
      <%= f.input :status, label: "Status", collection: Publication::STATUS.except(:archived)  %>
      <%= f.input :location, label: "Location", input_html: { id: 'ngo_address'}%>
      <%= f.input :category_id,
          as: :grouped_select,
          collection: @categories,
          group_method: :children
      %>
      <%= f.button :submit, 'Filter', class: "button"%>
      <% end %>
    </div>
    <div class="col-9">
      <% @publications.each do |pub| %>
        <%= link_to publication_path(pub) do  %>
          <div class="card-product pl-2 mt-3 <%= case pub.category.parent.name
                                          when 'Donate' then 'top-clean'
                                          when 'Goods' then 'top-butter'
                                          when 'Services' then 'top-salmon'
                                          end
                                           %> link">
            <div>
                <% if pub.pictures.reject { |p| p.category == 'closing' }.empty? %>
                  <div class="align-items-center justify-content-center d-flex" style="width: 120px; height: 100%;">
                    <%= cl_image_tag(Picture
                    .find_by(imageable_type: 'Ngo', imageable_id: pub.ngo.id, category: 'logo')
                    .picture,width: 120, height: 120, crop: 'fit') %>
                  </div>
                <% else %>
                   <div class="align-items-center justify-content-center d-flex" style="width: 120px; height: 100%;">
                    <%= cl_image_tag(Picture
                    .find_by(imageable_type: 'Publication', imageable_id: pub.pictures.first.id)
                    .picture, width: 120, height: 120, crop: 'fit') %>
                  </div>
                <% end %>
            </div>
            <div class="card-product-infos" style="max-width: 600px">
              <h2><%= pub.title %></h2>
              <p><%= pub.description[0..150]%>...</p>
            </div>
            <div class="card-product-infos">
              <div class="tag-category">
              <p class="text-center"> <%= pub.category.name %></p>
              </div>
              <% if pub.offers.empty? %>
                <small>Be the fist one to help this amazing people</small>
              <% else %>
                <small> <%= pub.offers.count %> users are already helping! Join them!</small>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
