<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="mb-3" style="width: 300px; height: 365px; border: 2px black solid;">
        Carrousel placeholder
      </div>
      <div style="width: 300px; height: 200px; border: 2px black solid;">
        Map placeholder
      </div>
    </div>
    <div class="col-sm-12 col-md-8 py-4">
      <div class="d-flex justify-content-between pb-3">
        <h2> <%= @publication.title %> </h2>
        <%= social_share_button_tag(@publication.title, desc: @publication.description) %>
        <%# <a href="#" class="btn btn-success">Share on SM</a> %>
      </div>
      <p>posted by <strong><%= link_to @publication.ngo.name, ngo_path(@publication.ngo)  %></strong></p>
      <p><strong>Location: <%= @publication.location %></strong></p>
      <h3 class="sub-header">Description</h3>
      <p class="pb-3">
        <%= @publication.description %>
      </p>
      <h3 class="sub-header">Intended use</h3>
      <p class="pb-3">
        <%= @publication.description %>
      </p>
      <h3 class="sub-header">Main focus</h3>
      <p class="pb-3">
        Main focus place holder
      </p>
    </div>
  </div>
</div>