<%= content_for(:meta_og) do %>
  <meta property="og:title" content="<%= "#{@publication.ngo.name.capitalize} needs #{@publication.title}" %>" />
  <meta property="og:type" content="article" />
  <%# <meta property="og:published_time" content="<%= @publication.publication_date.strftime('%Y-%m-%d %H:%M') %>
  <meta property="og:author" content="mantaplatform.com" />
  <meta property="og:description" content="<%= truncate(@publication.description, length: 50) %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <% if @publication.ngo.pictures.first.present? %>
      <%= tag :meta, property: 'og:image', content: "#{cl_image_path(Picture.find_by(imageable_type: 'Ngo', imageable_id: @publication.ngo.id, category: 'logo').picture)}" %>
      <%= tag :meta, name: 'twitter:image:src', content: "#{cl_image_path(Picture.find_by(imageable_type: 'Ngo', imageable_id: @publication.ngo.id, category: 'logo').picture)}" %>
  <% end %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="mantaplatform.com">
  <%# TODO add twitter account %>
  <%# <meta name="twitter:creator" content="@iedamarcondes"> %>
  <meta name="twitter:title" content="<%= "#{@publication.ngo.name.capitalize} needs #{@publication.title}" %>" />
  <%# <meta name="twitter:site" content="<%= @publication.ngo.name %>
  <meta name="twitter:description" content="<%= truncate(@publication.description, length: 100) %>" />
<% end %>


<div class="container pub-style <%= case @publication.category.parent.name
                          when 'Donate' then 'bt-clean'
                          when 'Goods' then 'bt-butter'
                          when 'Services' then 'bt-salmon'
                          end %>">
  <div class="row">
    <div class="col-sm-12 col-md-4 py-4 d-flex flex-column align-items-center">
      <% if @publication.pictures.reject { |p| p.category == 'closing' }.empty? %>
        <div class="align-items-center justify-content-center d-flex" style="width: 300px; height: 365px;">
          <%= cl_image_tag(Picture
          .find_by(imageable_type: 'Ngo', imageable_id: @publication.ngo.id, category: 'logo')
          .picture, width: 300, height: 365, crop: 'fit') %>
        </div>
      <% else %>
        <div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
          <div class="carousel-inner">
            <% @publication.pictures.reject { |p| p.category == 'closing' }.each do |pic| %>
              <div class="carousel-item active">
                <%# cl_image_tag pic.picture, class: 'd-block w-100' %>
                <img class="d-block w-100" src="<%= pic.picture.url %>" alt="Slide pic"> 
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
      <div
        id="map"
        style="width: 300px; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="my-5"
      ></div>
      <div>
        <h3 class="sub-header">Be a pal ...</h3>
        <p>... share this pub on social media</p>
        <div class="text-center mb-3">
          <%= social_share_button_tag("#{@publication.ngo.name.capitalize} needs: #{@publication.title}",
                                      image: cl_image_path(Picture.find_by(imageable_type: 'Ngo', imageable_id: @publication.ngo.id, category: 'logo').picture),
                                      description: "#{@publication.description[0..100]}...") %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="d-flex justify-content-between align-items-center pb-3">
        <h2> <%= @publication.title %> </h2>
        <%= social_share_button_tag(@publication.title, desc: @publication.description) %>
        <%# <a href="#" class="btn btn-success">Share on SM</a> %>
      </div>
      <p>posted by <strong><%= link_to @publication.ngo.name, ngo_path(@publication.ngo)  %></strong></p>
      <p><strong>Location: <%= @publication.location %></strong></p>
      <h3 class="sub-header">Description</h3>
      <p class="pb-3">
        <%= @publication.description %>
      </p>
      <h3 class="sub-header">Intended use</h3>
      <p class="pb-3">
        <%= @publication.intended_use %>
      </p>
      <% if @publication.closing_text %>
        <h3 class="sub-header">Closing</h3>
        <div class="text-center">
          <%= cl_image_tag Picture.find_by(imageable_type: @publication.class.to_s, imageable_id: @publication.id, category: 'closing').picture, width: 400, height: 300, crop: :fit %>
        </div>
        <h5>Closing evidence description</h5>
        <p>
          <%= @publication.closing_text %>
        </p>
      <% else %>
        <% if @publication.ngo.is_stakeholder?(current_user) %>
          <div class="my-5">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#closingModal-<%= @publication.id%>">
              Upload evidence
            </button>
          </div>
          <%= render 'publications/closing_form', publication: @publication, picture: @picture %>
        <% else %>
          <div class="my-5">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#offerModal">
              I can help!
            </button>
          </div>
        <% end %>
      <% end %>
      <% if @publication.ngo.publications.count > 1 %>
        <hr>
        <h5 class="sub-header">Other publications by <%= @publication.ngo.name.capitalize %></h3>
        <ul>
          <% @publication.ngo.publications.reject { |p| p.id == @publication.id }.last(5).each do |pub| %>
            <li>
              <strong><%= link_to pub.title, pub, class: 'link' %></strong>
            </li>
          <% end %>
        </ul>
      <% end %>
      <hr>
      <h5 class="sub-header">Other publications in this category</h3>
      <ul>
        <% @publication.category.publications.reject { |p| p.id == @publication.id }.last(5).each do |pub| %>
          <li>
            <strong><%= link_to pub.title, pub, class: 'link' %></strong> posted by <strong><%= link_to pub.ngo.name, pub.ngo %></strong>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render 'offer_modal' %>