<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <%= image_tag "manta" %>
<% end %>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<form class="form-inline d-none d-md-block mr-auto" action="#">
  <div class="search-navbar">
    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Try xyz" aria-label="Search">
    <i class="fas fa-search"></i>
  </div>
</form>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to "Add NGO", "#", class: "nav-link mr-5" %>
    </li>
    <li class="nav-item dropdown">
      <% if signed_in? %>
        <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "https://thesocietypages.org/socimages/files/2009/05/vimeo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</div>
</div>
