<%= render 'shared/banner' %>
<div class="container">
  <div class="row mb-5" style="margin-top: -200px;">

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <%= link_to publications_path(publication: { parent_category: Category
        .find_by(name: 'Donate').children.ids.join("-") } ), class:"box card-green" do %>
        <%= image_tag asset_path("logo_donate.png"), alt: "donate" %>
        <h2> Donate</h2>
      <% end %>
    </div>


    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <%= link_to publications_path(publication: { parent_category: Category
        .find_by(name: 'Goods').children.ids.join("-") } ), class:"box card-yellow" do %>
      <%= image_tag asset_path("logo_goods1.png"), alt: "services" %>
      <h2> Goods</h2>
      <% end %>
   </div>



    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <%= link_to publications_path(publication: { parent_category: Category
        .find_by(name: 'Services').children.ids.join("-") } ), class:"box card-salmon" do %>
          <%= image_tag asset_path("logo_services.png"), alt: "services" %>
          <h2> Services</h2>
      <% end %>
    </div>
  </div>


  <div class="row mt-3">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'Books').id } ), class:"card-category" do %>
      <div class="card-small hover-yellow">
        <i class="fas fa-book-open"></i>
        <h2> books</h2>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'Teaching').id } ), class:"card-category" do %>
      <div class="card-small">
        <i class="fas fa-chalkboard-teacher"></i>
        <h2> teaching</h2>
      </div>
      <% end %>
    </div>


    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'Furniture').id } ), class:"card-category" do %>
      <div class="card-small hover-yellow">
        <i class="fas fa-couch"></i>
        <h2> furniture</h2>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'Technical support').id } ), class:"card-category" do %>
      <div class="card-small">
        <i class="fas fa-headset"></i>
        <h2> tech support</h2>
      </div>
      <% end %>
    </div>


    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'Sporting goods').id } ), class:"card-category" do %>
      <div class="card-small hover-yellow">
        <i class="fas fa-volleyball-ball"></i>
        <h2> sporting goods</h2>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'General volunteer').id } ), class:"card-category" do %>
      <div class="card-small">
        <i class="fas fa-hands-helping"></i>
        <h2> general volunteer</h2>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'Electronics').id } ), class:"card-category" do %>
      <div class="card-small hover-yellow">
        <i class="fas fa-laptop"></i>
        <h2> electronics</h2>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to publications_path(publication: { category_id: Category.find_by(name: 'Clothing').id } ), class:"card-category" do %>
      <div class="card-small hover-yellow">
        <i class="fas fa-tshirt"></i>
        <h2> clothing</h2>
      </div>
      <% end %>
    </div>



  </div>
</div>
