<div class="offer_index">
  <ul class="nav nav-pills d-flex list-inline" id="pills-tab" role="tablist">
    <li class="nav-item flex-grow-1 h-100 list-inline-item m-0 messages-tabs">
      <a class="active" id="pills-as-donor-tab" data-toggle="pill" href="#pills-as-donor" role="tab" aria-controls="pills-as-donor" aria-selected="true">Offers as a donor</a>
    </li>
    <li class="nav-item list-inline-item flex-grow-1 h-100 m-0 messages-tabs">
      <a class="h-100 w-100 d-flex justify-content-center align-items-center" id="pills-as-ngo-tab" data-toggle="pill" href="#pills-as-ngo" role="tab" aria-controls="pills-as-ngo" aria-selected="false">Offers as NGO</a>
    </li>
  </ul>
  <div class="offer-search">
    <i class="fas fa-search"></i>
    <input type="text" class="offer-search-input" placeholder="Search for">
    <i class="fab fa-elementor"></i>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-as-donor" role="tabpanel" aria-labelledby="pills-as-donor-tab">
      <% current_user.offers_as_donor.each do |offer| %>
        <%= link_to offer_path(offer), class:"offer-link" do %>
          <div class="offer_tab p-3 d-flex justify-content-between align-items-center offer_information <%= offer.id.to_s == params[:id] ? 'offer_information-selected' : '' %>">
            <div class="offer_img" style="background-image:url('https://cdn2.bigcommerce.com/server1500/ac84d/products/1203/images/2686/Adidas_Logo_Stack__93206.1337144792.380.380.jpg?c=2');">
            </div>
            <div class="">
              <div class="offer_detail pl-3">
                <h4><%= offer.publication.ngo.name.upcase.truncate(20, separator: " ") %></h4>
                <p><%= offer.publication.title %></p>
              </div>
              <div class="offer_date">
                <span><small><%= offer.created_at.strftime("%A, %b %d") %></small></span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="pills-as-ngo" role="tabpanel" aria-labelledby="pills-as-ngo-tab">
      <% offers_as_ngo = current_user.offers_as_owner + current_user.offers_as_collaborator %>
      <% if offers_as_ngo.empty? %>
        <div class="text-center mt-5 help-text">
          <p>It is time to help!</p>
          <p>Have a look to all the NGOs that are looking for collaborators</p>
          <p>Placeholder for link to search</p>
        </div>
      <% end %>
      <% offers_as_ngo.each do |offer| %>
        <%= link_to offer_path(offer) do %>
          <div class="offer_tab p-3 d-flex justify-content-between align-items-center">
            <div class="offer_img">
            </div>
            <div class="offer_detail">
              <h4><%= offer.user.email %></h4>
              <p><%= offer.publication.title %></p>
            </div>
            <div class="offer_date">
              <span><small><%= offer.created_at %></small></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
