<div class="container d-flex align-items-center offers-display">

  <div class="offers-wrapper">
    <% @ngo.publications.each do |pub| %>
      <%= link_to publication_path(pub) do  %>


        <div class="card-product mt-3">

          <div class="card-product-infos">
            <h2><%= pub.title %></h2>
            <p><%= pub.description%></p>
          </div>


          <div>
            <%= link_to "Edit", root_path, class:"button" %>
            <%= link_to "Close", root_path, class:"button"  %>
          </div>

        </div>

      <% end %>
      <% end %>

    </div>

  <div class="user-options text-center">
    <%= link_to "My profile", root_path, class:"button space-btw-button" %>
    <%= link_to "Manage members", root_path, class:"button "  %>
    <%= link_to "Create publication", root_path, class:"button " %>
  </div>

</div>
